/.github/CODEOWNERS @PennyLaneAI/core-release-managers @PennyLaneAI/cloud-software @PennyLaneAI/content
/demonstrations_v2/*/requirements.in @PennyLaneAI/cloud-software @PennyLaneAI/content @PennyLaneAI/core-release-managers
/pyproject.toml @PennyLaneAI/cloud-software @PennyLaneAI/core-release-managers
/poetry.lock @PennyLaneAI/cloud-software @PennyLaneAI/core-release-managers
/lib/qml/** @PennyLaneAI/cloud-software @PennyLaneAI/core-release-managers
/dependencies/** @PennyLaneAI/cloud-software @PennyLaneAI/core-release-managers
/.github/** @PennyLaneAI/cloud-software @PennyLaneAI/core-release-managers
/demonstrations_v2/** @PennyLaneAI/content @PennyLaneAI/core-release-managers
/documentation/** @PennyLaneAI/content @PennyLaneAI/core-release-managers
/README.md @PennyLaneAI/content @PennyLaneAI/core-release-managers
/CONTRIBUTING.md @PennyLaneAI/content @PennyLaneAI/core-release-managers
/_static/** @PennyLaneAI/content @PennyLaneAI/core-release-managers
/metadata_schemas/** @PennyLaneAI/content @PennyLaneAI/cloud-software
/notebook_converter/** @PennyLaneAI/cloud-software @PennyLaneAI/core-release-managers
