/.github/CODEOWNERS @core-release-managers
# requirements.in files in demonstrations_v2 are owned by both teams
/demonstrations_v2/*/requirements.in @software-cloud @content-team
/pyproject.toml @software-cloud
/poetry.lock @software-cloud
/lib/qml/** @software-cloud
/dependencies/** @software-cloud
/.github/** @software-cloud
/demonstrations_v2/** @content-team
/documentation/** @content-team
/README.md @content-team
/CONTRIBUTING.md @content-team
/_static/** @content-team
* @core-release-managers