/.github/CODEOWNERS @core-release-managers @software-cloud @content-team
/demonstrations_v2/*/requirements.in @software-cloud @content-team @core-release-managers
/pyproject.toml @software-cloud @core-release-managers
/poetry.lock @software-cloud @core-release-managers
/lib/qml/** @software-cloud @core-release-managers
/dependencies/** @software-cloud @core-release-managers
/.github/** @software-cloud @core-release-managers
/demonstrations_v2/** @content-team @core-release-managers
/documentation/** @content-team @core-release-managers
/README.md @content-team @core-release-managers
/CONTRIBUTING.md @content-team @core-release-managers
/_static/** @content-team @core-release-managers
/metadata_schemas/** @content-team @sofware-cloud
/notebook_converter/** @software-cloud @core-release-managers
