_build
__pycache__
tutorial
_static/thumbs/*
.idea
demos/*
demonstrations/pyscf/*
demonstrations/structure.xyz
_data/*
backreferences
.DS_Store
demos_community.rst

# Do not want lockfile tracked for dev
build_requirements/dev/poetry.lock
