###########################################################################
# This file has been deprecated, please refer to README.md and use poetry #
###########################################################################
--find-links https://download.pytorch.org/whl/torch_stable.html
appdirs==1.4.4
autograd==1.5
numpy~=1.21
numba==0.53.1
networkx==2.5.1
semantic_version==2.10
strawberryfields==0.22
sympy==1.6.2
pillow==9.0.1
pip==21.1
wheel==0.37.0
h5py<=3.2.1
pyscf==2.1.1
cirq-core==0.14.1
cirq-pasqal==0.14.1
openfermionpyscf==0.5   # required by 2 tutorials: tutorial_quantum_chemistry and tutorial_adaptive_circuits and tutorial_diffable_shadows
git+https://github.com/PennyLaneAI/pennylane.git#egg=pennylane
git+https://github.com/PennyLaneAI/pennylane-cirq.git#egg=pennylane-cirq
git+https://github.com/PennyLaneAI/pennylane-qiskit.git#egg=pennylane-qiskit
qulacs==0.1.10.1
git+https://github.com/PennyLaneAI/pennylane-qulacs.git#egg=pennylane-qulacs
scikit-learn==0.23.2
docutils==0.16
markupsafe==2.0.1
sphinx==3.5.3
sphinx-sitemap
pypandoc==1.5
sphinx_gallery==0.10.0
seaborn==0.10.1
keras==2.8.0
tensorflow==2.8.1
toml==0.10.2
torch==1.10.0+cpu
torchvision==0.11.1+cpu
dask[delayed]==2022.9.0
pyparsing==2.4.7
matplotlib==3.5.3
noisyopt==0.2.2
Jinja2==2.11.3
pyyaml==5.4.1
jax==0.4.12
jaxlib==0.4.12
neural-tangents==0.6.1
flamingpy>=0.10.1b1
plotly>=4.5.0
kahypar==1.1.7
optax==0.1.3
pennylane-sphinx-theme  # Not pinned so that it always uses the latest theme
jaxopt==0.5.5
pyzx==0.7.0
zstd
dill
covalent==0.202.0.post1
