###########################################################################
# This file has been deprecated, please refer to README.md and use poetry #
###########################################################################
mitiq==0.25.0
pyquil==2.21
