pillow==9.0.1
pip==22.0.4
wheel==0.37.1
charset-normalizer==2.1.1
docutils==0.16 # softer version requirement, was == 0.18.1
markupsafe==2.0.1
sphinx==3.5.3
sphinx-sitemap==2.2.0
pypandoc==1.5
sphinx_gallery==0.10.0
pyparsing==2.4.7
Jinja2==2.11.3 # downgraded from 3.0.8
pyyaml==5.4.1
numpy==1.23.5
urllib3==1.26.16
pennylane-sphinx-theme
