--find-links https://download.pytorch.org/whl/torch_stable.html
appdirs==1.4.4
autograd==1.3
numpy~=1.21
numba==0.53.1
networkx==2.5.1
nlopt==2.6.2
semantic_version==2.6
strawberryfields==0.22
sympy==1.6.2
pillow==7.1.0
pip==21.1
wheel==0.37.0
h5py<=3.2.1
pyscf==1.7.6
cirq-core==0.14.1
cirq-pasqal==0.14.1
openfermionpyscf==0.5   # required by 2 tutorials: tutorial_quantum_chemistry and tutorial_adaptive_circuits
pennylane-lightning
pennylane==0.23.1
pennylane-sf==0.20.1
pennylane-cirq==0.22.0
pennylane-qiskit==0.23.0
qulacs==0.1.10.1
pennylane-qulacs==0.16.0
scikit-learn==0.23.2
docutils==0.16
markupsafe==2.0.1
sphinx==3.5.3
sphinx-sitemap
pypandoc==1.5
sphinx_gallery==0.10.0
seaborn==0.10.1
keras==2.8.0
tensorflow==2.8.0
toml==0.10.2
torch==1.10.0+cpu
torchvision==0.11.1+cpu
dask[delayed]==2.10.1
scikit-learn==0.23.2
pyparsing==2.4.7
matplotlib==3.3.3
noisyopt==0.2.2
Jinja2==2.11.3
pyyaml==5.4.1
jax==0.2.10
jaxlib==0.1.64
neural-tangents==0.3.6
