--find-links https://download.pytorch.org/whl/torch_stable.html
appdirs
autograd
numpy<1.19,~=1.16
networkx==2.4
nlopt
pygments-github-lexers
semantic_version==2.6
git+https://github.com/XanaduAI/strawberryfields.git
sympy==1.6.2
pillow==6.2.0
pip==20.1
pyscf==1.7.1
git+https://github.com/PennyLaneAI/pennylane.git
git+https://github.com/PennyLaneAI/pennylane.git#subdirectory=qchem
git+https://github.com/PennyLaneAI/pennylane-sf.git
git+https://github.com/rigetti/pennylane-forest.git
git+https://github.com/quantumlib/Cirq.git@aff27b8bd78ac9d2c09f1902372e12f010901eb3#egg=cirq
git+https://github.com/PennyLaneAI/pennylane-cirq.git@e3703c0b171612b533b2543149571deb1f165210#egg=pennylane-cirq
pyquil==2.21
scipy==1.4.1
sphinx==1.8.5
sphinx-sitemap
sphinx_gallery==0.7
seaborn==0.10.1
tensorflow==2.3.0
toml
torch==1.6.0+cpu
torchvision==0.7.0+cpu
dask[delayed]==2.10.1
