version: 2.1

orbs:
  aws-cli: circleci/aws-cli@0.1.16

jobs:
  build:
    docker:
      - image: circleci/python:3.7.2
      - image: rigetti/quilc
        command:
        - -R
      - image: rigetti/qvm
        command:
        - -S

    steps:
      - checkout

      - restore_cache:
          keys:
            # when lock file changes, use increasingly general patterns to restore cache
            - pip-v15-{{ .Branch }}-{{ checksum "requirements.txt" }}
            - pip-v15-{{ .Branch }}-
            - pip-v15-

      - run:
          name: Install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install pip setuptools --upgrade
            pip install -r requirements.txt

      - save_cache:
          paths:
            - venv
          key: pip-v15-{{ .Branch }}-{{ checksum "requirements.txt" }}

      - restore_cache:
          keys:
            - gallery-v11-{{ .Branch }}-{{ .Revision }}
            - gallery-v11-{{ .Branch }}-
            - gallery-v11-

      - run:
          name: Build tutorials
          no_output_timeout: 60m
          command: |
            . venv/bin/activate
            make download
            make html
            cd _build/ && zip -r /tmp/qml_html.zip html && cd ../
            zip -r /tmp/qml_demos.zip demos
            zip -r /tmp/qml_backreferences backreferences

      - save_cache:
          paths:
            - ./demos
          key: gallery-v11-{{ .Branch }}-{{ .Revision }}

      - store_artifacts:
          path: /tmp/qml_html.zip

      - store_artifacts:
          path: /tmp/qml_demos.zip

      - store_artifacts:
          path: /tmp/qml_backreferences.zip

      - store_artifacts:
          path: _build/html

      - store_test_results:
          path: _build/test-results

      - store_artifacts:
          path: _build/test-results

workflows:
  workflow:
    jobs:
      - build:
          filters:
            branches:
              ignore: master
