version: 2.1

orbs:
  aws-cli: circleci/aws-cli@0.1.16

jobs:
  build:
    docker:
      - image: circleci/python:3.7.2
      - image: rigetti/quilc
        command:
        - -R
      - image: rigetti/qvm
        command:
        - -S

    steps:
      - checkout

      - restore_cache:
          keys:
            # when lock file changes, use increasingly general patterns to restore cache
            - pip-v1-{{ .Branch }}-{{ checksum "requirements.txt" }}
            - pip-v1-{{ .Branch }}-
            - pip-v1-

      - run:
          name: Install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install pip setuptools --upgrade
            pip install -r requirements.txt

      - save_cache:
          paths:
            - venv
          key: pip-v1-{{ .Branch }}-{{ checksum "requirements.txt" }}

      - restore_cache:
          keys:
            - gallery-v1-{{ .Branch }}-{{ .Revision }}
            - gallery-v1-{{ .Branch }}-
            - gallery-v1-

      - run:
          name: Build tutorials
          no_output_timeout: 30m
          command: |
            . venv/bin/activate
            make download
            make html
            cd _build/ && zip -r /tmp/qml_html.zip html && cd ../

      - save_cache:
          paths:
            - ./demos
          key: gallery-v1-{{ .Branch }}-{{ .Revision }}

      - store_artifacts:
          path: /tmp/qml_html.zip

      - store_artifacts:
          path: _build/html

      - run:
          name: Comment artifacts
          command: |
            if [[ -z "${GH_AUTH_TOKEN}" ]]; then
              echo "GitHub token not available, skipping uploading artifacts..."
            else
              echo "Commenting artifacts..."
              pip3 install pygithub --user && python3 .circleci/comment.py
            fi

  deploy:
    executor:
      name: aws-cli/default
      python-version: '3.7.2'

    docker:
      - image: circleci/python:3.7.2
      - image: rigetti/quilc
        command:
        - -R
      - image: rigetti/qvm
        command:
        - -S

    steps:
      - checkout

      - aws-cli/setup:
          aws-region: AWS_REGION

      - restore_cache:
          keys:
            # when lock file changes, use increasingly general patterns to restore cache
            - pip-v1-{{ .Branch }}-{{ checksum "requirements.txt" }}
            - pip-v1-{{ .Branch }}-
            - pip-v1-

      - run:
          name: Install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install pip setuptools --upgrade
            pip install -r requirements.txt

      - save_cache:
          paths:
            - venv
          key: pip-v1-{{ .Branch }}-{{ checksum "requirements.txt" }}

      - restore_cache:
          keys:
            - gallery-v1-{{ .Branch }}-{{ .Revision }}
            - gallery-v1-{{ .Branch }}-
            - gallery-v1-

      - run:
          name: Build tutorials
          no_output_timeout: 30m
          command: |
            . venv/bin/activate
            make download
            make html

      - save_cache:
          paths:
            - ./demos
          key: gallery-v1-{{ .Branch }}-{{ .Revision }}

      - deploy:
          name: Deploy to AWS
          command: |
            aws s3 sync _build/html s3://pennylane.ai/qml --delete
            aws cloudfront create-invalidation --distribution-id $DISTRIBUTION_ID --paths /qml/*

workflows:
  workflow:
    jobs:
      - build:
          filters:
            branches:
              ignore: master

      - deploy:
          context: aws_credentials
          filters:
            branches:
              only: master
