# Specifies global constraints for the stable build
--extra-index-url https://download.pytorch.org/whl/cpu
pennylane==0.44.*
pennylane-cirq==0.44.*
pennylane-qiskit==0.44.*
pennylane-qulacs==0.44.*
pennylane-catalyst==0.14.*
pennylane-lightning==0.44.*
pennylane-qrack==0.11.*

# Install external packages
matplotlib==3.10.0
aiohttp==3.9.5
fastapi<1.0.0
fsspec==2024.6.1
h5py==3.11.0
ipython==8.16.1

chex<1.0.0
jax==0.7.1
jaxlib==0.7.1
jaxopt==0.8.5

torch==2.9.0+cpu ; sys_platform != 'darwin'
torch==2.9.0 ; sys_platform == 'darwin'
torchvision==0.24.0+cpu ; sys_platform != 'darwin'
torchvision==0.24.0 ; sys_platform == 'darwin'

optax==0.2.4
