# Specifies global constraints for the stable build
pennylane==0.45.*
pennylane-cirq==0.44.*
pennylane-qiskit==0.45.*
pennylane-qulacs==0.44.*
pennylane-catalyst==0.15.*

# Install external packages
matplotlib==3.10.0
aiohttp==3.14.1
fastapi<1.0.0
fsspec==2024.6.1
h5py==3.11.0
ipython==8.16.1

chex<1.0.0
jax==0.7.1
jaxlib==0.7.1
jaxopt==0.8.5

torch==2.9.0
torchvision==0.24.0

optax==0.2.4
