# Specifies global constraints for the dev build
# NOTE: PennyLane, Lightning and Catalyst dev versions 
# are handled separately in the qml app.

--extra-index-url https://test.pypi.org/simple/
--extra-index-url https://download.pytorch.org/whl/cpu

# Install plug-ins required for demos
pennylane-cirq @ git+https://github.com/PennyLaneAI/pennylane-cirq.git#egg=pennylane-cirq
pennylane-qiskit @ git+https://github.com/PennyLaneAI/pennylane-qiskit.git#egg=pennylane-qiskit
pennylane-qulacs @ git+https://github.com/PennyLaneAI/pennylane-qulacs.git#egg=pennylane-qulacs

# Install external packages
matplotlib==3.10.0
aiohttp==3.9.5
fastapi<1.0.0
fsspec==2024.6.1
h5py==3.11.0
ipython==8.16.1

chex<1.0.0
jax==0.6.2
jaxlib==0.6.2
jaxopt==0.8.5

torch==2.9.0+cpu ; sys_platform != 'darwin'
torch==2.9.0 ; sys_platform == 'darwin'
torchvision==0.24.0+cpu ; sys_platform != 'darwin'
torchvision==0.24.0 ; sys_platform == 'darwin'

optax==0.2.4
