# Core dependencies that are always available for every demo
# Note that versions are specified in 'constraints-dev' or 'constraints-stable'
aiohttp
fsspec
h5py
jax
jaxlib
matplotlib
numpy
pennylane-catalyst
pennylane-lightning
pennylane
optax
