name: Run Text and Image Diff Checks
on:
  pull_request:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

concurrency:
  group: get-diff-${{ github.ref }}
  cancel-in-progress: true

jobs:
  get-dev-build:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v3
        with:
          ref: master

      - name: Get Workflow run ID
        id: workflow_run_id
        uses: actions/github-script@v6
        with:
          result-encoding: string
          script: |
            const workflowRuns = await github.paginate(github.rest.actions.listWorkflowRuns.endpoint.merge({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'build-branch-dev.yml',
              branch: 'master',
              event: 'schedule',
              status: 'completed'
              per_page: 1,
            }));
            // const workflowRunsSorted = workflowRuns.sort((a, b) => b.run_number - a.run_number);

            if (workflowRuns[0].conclusion == 'success') {
              return workflowRunsSorted[0].id;
            }
            throw new Error('Most recent dev build failed.');

    outputs:
      workflow_id: ${{ steps.workflow_run_id.outputs.result }}

  get-master-build:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v3
        with:
          ref: master

      - name: Get Workflow run ID
        id: workflow_run_id
        uses: actions/github-script@v6
        with:
          result-encoding: string
          script: |
            const workflowRuns = await github.paginate(github.rest.actions.listWorkflowRuns.endpoint.merge({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'build-branch-master.yml',
              branch: 'master',
              event: 'schedule',
              status: 'completed',
              per_page: 4,
            }));

            console.log(workflowRuns);

            const workflowRunsSorted = workflowRuns.sort((a, b) => b.run_number - a.run_number);

            if (workflowRunsSorted[0].conclusion == 'success') {
              return workflowRunsSorted[0].id;
            }
            throw new Error('Most recent master build failed.');

    outputs:
      workflow_id: ${{ steps.workflow_run_id.outputs.result }}

  check-diffs:
    runs-on: ubuntu-latest
    needs: [get-dev-build, get-master-build]

    steps:

      - uses: actions/checkout@v3
        with:
          ref: demo_diff_outputs

      - name: Create Build Folders
        run: |
          rm -rf demo_checker/*

          git config user.name "QML demo checker Bot"
          git config user.email "<>"
          git rm -r demo_checker

          git commit -m "Remove old builds"

          mkdir demo_checker
          cd demo_checker
          mkdir dev-build
          mkdir master-build

      - name: Download Dev Artifact
        uses: XanaduAI/cloud-actions/download-github-workflow-artifact@main
        with:
          workflow_run_id: ${{ needs.get-dev-build.outputs.workflow_id }}
          artifact_name_regex: html.zip
          github_token: ${{ github.token }}
          artifact_download_dir: ${{ github.workspace }}/demo_checker/dev-build

      - name: Unpack Dev Artifact
        run: |
          cd demo_checker/dev-build
          FILE='html.zip.zip'
          if [ -f "$FILE" ]; then
            echo "$FILE exists."
            unzip html.zip
          fi
          rm $FILE

          cd ..
          git add dev-build/*
          git commit -m "Latest dev build"
          git push

      - name: Download Master Artifact
        uses: XanaduAI/cloud-actions/download-github-workflow-artifact@main
        with:
          workflow_run_id: ${{ needs.get-master-build.outputs.workflow_id }}
          artifact_name_regex: html.zip
          github_token: ${{ github.token }}
          artifact_download_dir: ${{ github.workspace }}/demo_checker/master-build

      - name: Unpack Master Artifact
        run: |
          cd demo_checker/master-build
          FILE='html.zip.zip'
          if [ -f "$FILE" ]; then
            echo "$FILE exists."
            unzip html.zip
          fi
          rm $FILE

          cd ..
          git add master-build/*
          git commit -m "Latest master build"
          git push

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Update Text Diff File
        run: |
          pip install pytz
          python .github/workflows/generate_diffs.py
          mv demo_text_diffs.md demo_checker

          git add demo_checker/demo_text_diffs.md
          git commit -m "Update text demo differences found"
          git push

      - name: Update Image Diff File
        run: |
          mkdir -p "$HOME/.local/bin"
          curl -O 'https://download.imagemagick.org/ImageMagick/download/binaries/magick'
          chmod u+x magick
          mv magick "$HOME/.local/bin"
          echo "$HOME/.local/bin" >> "$GITHUB_PATH"

          python .github/workflows/image_compare.py
          mv demo_image_diffs.md demo_checker

          git add demo_checker/demo_image_diffs.md
          git commit -m "Update image demo differences found"
          git push
