name: Build Website - Text
on:
  push:
    branches:
      - master
      - dev
      - sc-44774-glass-onion-demos-bucket

concurrency:
  group: build-text-doc-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/build-branch.yml
    with:
      branch: ${{ github.ref }}
      num_workers: 10
      enable_python_cache: false
      enable_sphinx_cache: true
      enable_qml_execution_times_cache: false
      skip_execution_of_examples: false
      skip_execution_times_aggregation: true
      skip_sphinx_build_file_aggregation: false
      sphinx_build_output_format: text

  upload-staging:
    if: github.ref_name == 'master'
    needs:
      - build
    uses: ./.github/workflows/upload-text.yml
    with:
      branch: ${{ github.ref }}

    secrets:
      aws_region: ${{ secrets.AWS_REGION }}
      aws_access_key_id: ${{ secrets.STAGING_MAIN_GLASS_ONION_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.STAGING_MAIN_GLASS_ONION_ACCESS_KEY_ID }}
      aws_text_s3_bucket_id: ${{ secrets.STAGING_MAIN_GLASS_ONION_DEMOS_BUCKET_ID }}

  upload-dev:
    # if: github.ref_name == 'dev'
    needs:
      - build
    uses: ./.github/workflows/upload-text.yml
    with:
      branch: ${{ github.ref }}

    secrets:
      aws_region: ${{ secrets.AWS_REGION }}
      aws_access_key_id: ${{ secrets.DEV_MAIN_GLASS_ONION_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.DEV_MAIN_GLASS_ONION_ACCESS_KEY_ID }}
      aws_text_s3_bucket_id: ${{ secrets.DEV_MAIN_GLASS_ONION_DEMOS_BUCKET_ID }}
