name: update-dev
on:
  workflow_run:
    workflows:
      - Build Website - JSON
    types:
      - completed
    branches:
      - master
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

jobs:
  update-dev:
    runs-on: ubuntu-latest

    if: >-
      ${{
        github.event_name != 'workflow_run' ||
        (
          github.event_name == 'workflow_run' &&
          github.event.workflow_run.event == 'push'
        )
      }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Nightly Merge
        uses: robotology/gh-action-nightly-merge@v1.3.3
        with:
          stable_branch: 'master'
          development_branch: 'dev'
          allow_ff: false
        env:
          GITHUB_TOKEN: ${{ secrets.NIGHTLY_TOKEN }}
