name: V2 Build Branch - Dev
on:
  workflow_dispatch:
  schedule:
    - cron: '0 7 * * 1,3,5' # At 07:00 (2am EST) on Monday, Wednesday, Friday.
    #- cron: '0 10 * * *' # At 10:00 (5am EST) on every day-of-week. Use this during feature freeze.

concurrency:
  group: v2-build-demo-branch-dev
  cancel-in-progress: true

jobs:
  build_dev:
    uses: PennyLaneAI/demos/.github/workflows/v2-build-demos.yml@dev
    with:
      ref: dev
      dev: true
      save-artifact: true
      artifact-name: build-branch-dev
      artifact-retention: 3
      keep-going: false
      quiet: false
      batch_size: 10
