name: V2 Build PR

on:
  pull_request:
    # remove v2 after testing
    branches: [master, dev, v2]

permissions:
  contents: read

concurrency:
  group: build-v2-demos-${{ github.event.pull_request.head.sha }}
  cancel-in-progress: true

jobs:
  # Step 1: Identify changed demos
  identify-changed-demos:
    runs-on: ubuntu-latest
    outputs:
      updated: ${{ steps.get-changed-demos.outputs.updated }}
      deleted: ${{ steps.get-changed-demos.outputs.deleted }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get changed demos
        id: get-changed-demos
        uses: ./.github/actions/get-changed-demos

      - name: Output changed demos
        run: |
          echo "Updated Demos: ${{ steps.get-changed-demos.outputs.updated }}"
          echo "Deleted Demos: ${{ steps.get-changed-demos.outputs.deleted }}"

      - name: Exit if no changes
        if: steps.get-changed-demos.outputs.updated == ''
        run: |
          echo "No changes found in demos. Exiting workflow."
          exit 1

  # Step 2: Build demos
  build:
    uses: ./.github/workflows/v2-build-demos.yml
    needs: identify-changed-demos
    with:
      ref: ${{ github.event.pull_request.head.sha }}
      demo-names: ${{ needs.identify-changed-demos.outputs.updated }}
      dev: ${{ github.event.pull_request.base.ref == 'dev' }}
      save-artifact: true
      artifact-name: demo-build-${{ github.event.pull_request.head.sha }}
      keep-going: false
      quiet: false
      batch_size: 10

  # Step 3: Save build context
  save-build-context:
    runs-on: ubuntu-latest
    needs:
      - build
      - identify-changed-demos
    steps:
      - name: Save Pull Request Event Context
        if: github.event_name == 'pull_request'
        run: |
          mkdir -p /tmp/pr
          cat >/tmp/pr/pr_info.json <<EOL
          {
            "id": "${{ github.event.pull_request.number }}",
            "ref": "${{ github.event.pull_request.head.sha }}",
            "ref_name": "${{ github.event.pull_request.head.ref }}",
            "updated_demos": "${{ needs.identify-changed-demos.outputs.updated }}",
            "deleted_demos": "${{ needs.identify-changed-demos.outputs.deleted }}"
          }
          EOL

      - name: Upload Pull Request Event Context as Artifact
        if: github.event_name == 'pull_request'
        uses: actions/upload-artifact@v4
        with:
          name: pr_info
          path: /tmp/pr
          retention-days: 30
