name: V2 Build QML Branch - Dev
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0,2,4,6' # At 00:00 on Sunday, Tuesday, Thursday, and Saturday.

concurrency:
  group: v2-build-qml-demo-branch-dev
  cancel-in-progress: true

jobs:
  build_dev:
    uses: PennyLaneAI/qml/.github/workflows/v2-build-demos.yml
    with:
      ref: sync-demos
      dev: true
      save-artifact: true
      artifact-name: build-branch-dev
      keep-going: false
      quiet: false
      batch_size: 10
