name: V2 Build Master for Production Environment

# WIP #
# The following workflow is responsible for the following:
# 1. Identifying changed demos in the master branch when a PR is merged.
# 2. Building the demos that have changed.
# 3. Save the build context in a articfact for later use in the V2 Deploy Production workflow.
# 4. If successful, trigger the V2 Deploy Production workflow.
# Notes: We want to ensure that the builds are queued and not cancelled if a new PR is merged while the build is in progress.

on:
  push:
    branches:
      - master
      - test-v2-master # A master branch for testing purposes
      - v2-deploy-on-push # A branch for testing purposes

permissions:
  contents: read
  actions: read
  pull-requests: write

concurrency:
  group: build-v2-demos-master-${{ github.sha }}
  cancel-in-progress: true

jobs:
  # Step 1: Identify changed demos
  identify-changed-demos:
    runs-on: ubuntu-latest
    outputs:
      updated: ${{ steps.get-changed-demos.outputs.updated }}
      deleted: ${{ steps.get-changed-demos.outputs.deleted }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get changed demos
        id: get-changed-demos
        uses: ./.github/actions/get-changed-demos

      - name: Output changed demos
        run: |
          echo "Updated Demos: ${{ steps.get-changed-demos.outputs.updated }}"
          echo "Deleted Demos: ${{ steps.get-changed-demos.outputs.deleted }}"

  # Step 2: Build demos
  build:
    if: needs.identify-changed-demos.outputs.updated != ''
    uses: ./.github/workflows/v2-build-demos.yml
    needs:
      - identify-changed-demos
    with:
      ref: ${{ github.sha }}
      demo-names: ${{ needs.identify-changed-demos.outputs.updated }}
      dev: false
      save-artifact: true
      artifact-name: demo-master-build-${{ github.sha }} # Specific name for master builds
      keep-going: false
      quiet: false
      batch_size: 10

  # Step 3: Save build context
  save-build-context:
    if: needs.identify-changed-demos.outputs.updated != ''
    runs-on: ubuntu-latest
    needs:
      - build
      - identify-changed-demos
    steps:
      - name: Save Merge Commit Information
        run: |
          mkdir -p /tmp/pr
          cat >/tmp/pr/master_build_context.json <<EOL
          {
            "ref": "${{ github.sha }}",
            "updated_demos": "${{ needs.identify-changed-demos.outputs.updated }}",
            "deleted_demos": "${{ needs.identify-changed-demos.outputs.deleted }}"
          }
          EOL

      - name: Upload Pull Request Event Context as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: master_build_context
          path: /tmp/pr
          retention-days: 30
