name: V2 Sync Staging

on:
  workflow_run:
    workflows:
      - "V2 Build QML Branch - Master"
    types:
      - completed

permissions:
  actions: read
  contents: read

concurrency:
  group: v2-sync-staging-master
  cancel-in-progress: true

jobs:
  deploy-staging:
    if: github.event.workflow_run.conclusion == 'success'
    uses: ./.github/workflows/v2-deploy-demos.yml
    secrets: inherit
    with:
      environment: swc-staging
      artifact-name: build-branch-master
      workflow-run-id: ${{ github.event.workflow_run.id }}
      pr_number: 0
